{% extends 'css.html'%}

{% block title %}About{% endblock title %}


{% block body %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1><b> About Us</b></h1>
                </div>
                <div class="content">
                    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h3>
                    <p>Laborum praesentium esse
                        unde recusandae explicabo quis beatae. Reiciendis delectus ut odit reprehenderit sapiente
                        cupiditate alias,
                        odio esse officiis corporis labore eaque distinctio dolores ea illum est qui. Debitis molestiae
                        alias odio possimus, tenetur quo reprehenderit nulla asperiores reiciendis consectetur nostrum
                        optio labore
                        eum, harum doloribus commodi cupiditate quasi officiis, quod itaque dolor magni totam ratione
                        sed? Nihil
                        quibusdam unde sint quidem omnis sed? Officiis sed obcaecati, mollitia ducimus natus veniam
                        deleniti soluta
                        hic qui quos. Suscipit temporibus dolor delectus expedita sit.</p>
                    <div class="button">
                        <a href="http://www.google.com">ReadMore</a>
                    </div>
                </div>
                <div class="social">



                    <a href="http://www.facebook.com" target="_blank"> <img src="static/download.png"
                            alt="facebook"></a>
                    <!-- <a href="http://www.twitter.com"><i class="icon-twitter tw"></i></a> -->
                    <a href="http://www.twitter.com"><img src="static/download (1).jpg" alt="twitter" srcset=""></a>
                    <!-- <a href="http://www.instagram.com" target="_blank"><i class="icon-twitter tw"></i></a> -->
                    <a href="http://www.instagram.com"><img src="static/download.jpg" alt="instagram" srcset=""></a>

                </div>
            </div>
            <!-- 
                <div class="image-section">
                <img src="static/download.png" alt="facebook" srcset="">
                <img src="static/download (1).jpg" alt="twitter" srcset="">
                <img src="static/download.jpg" alt="instagram" srcset=""> -->
            <!-- </div>  --> -->

            <div class="image-section">

                

                <img src="static/vr3.jpeg" alt="Profile" srcset="">

            </div>

        </div>
    </div>
</body>

</html>


{% endblock body %}