{% extends 'base.html' %}

{% block title %}Softy{% endblock title %}

{% block body %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <style>
        @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
          body{
               background: linear-gradient(to right ,red ,#00FF6C);
          }
          </style>
</head>
<body>
    <h1>WELCOME TO fAMILY PACK--- TastyIcecream---</h1>
</body>
</html>
{% endblock body %}