{% extends 'css.html' %}

{% block title %}Services{% endblock title %}

{% block body %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <style>
      @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
        body{
             background: linear-gradient(to right ,#00AAFF ,#00FF6C);
        }
        #content{
          margin-top: 1px;
          padding-top: 0px
        }
        #image{
            width: 348px;
            height: 224px;
        }
        #img
        {
            width: 348px;
            height: 224px;
        }
        .container{
            transition: 1.5s;
        }
        .container .box:hover{
            transform: scale(1.1);
            z-index: 1;
        }
        .btn-group .btn btn-sm btn-outline-secondary:hover{
            background-color: green;
            color: #fff;

        }
        .btn-group .btn-sm btn-outline-secondary:hover{
            background-color:grey;


        }
        
    </style>
</head>
<body>
    
<div class="container" id="content">
    <h1 class="my-4 text-center">Select from our range of ice creams</h1>
          <div class="row">
            <div class="col-md-4">
              <div class="box">
              <div class="card mb-4 shadow-sm">
                <div class='img'>
            <img src="/static/1_ice-cream-websites.jpg" class="d-block w-100" alt="...">
            </div>
                
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button1" class="btn btn-sm btn-outline-secondary">Prize</button>
                      <button type="button2" class="btn btn-sm btn-outline-secondary">69$</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box">
              <div class="card mb-4 shadow-sm">
                
                <img src="/static/4_ice-cream-websites.jpg" class="d-block w-100" alt="..."id="image">
               <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Prize</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">150$</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box">
              <div class="card mb-4 shadow-sm">
               
                <img src="/static/15_ice-cream-websites-800x631.jpg" class="d-block w-100" alt="..."id="img">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Prize</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">120$</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
                </div>
              </div>
            </div>
    
           
               
            
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="box">
              <div class="card mb-4 shadow-sm">
                <div class='img'>
            <img src="/static/12_.jpg" class="d-block w-100" alt="..." height="222px">
            </div>
                
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button1" class="btn btn-sm btn-outline-secondary">Prize</button>
                      <button type="button2" class="btn btn-sm btn-outline-secondary">99$</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box">
              <div class="card mb-4 shadow-sm">
                
                <img src="/static/two.jpg" class="d-block w-100" alt="..."id="image">
               <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Prize</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">25$</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box">
              <div class="card mb-4 shadow-sm">
               
                <img src="static/websites.jpg" class="d-block w-100" alt="..."id="img">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Prize</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">70$</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
                </div>
              </div>
            </div>
    
           
               
            
          </div>
        </div>
    
</body>
</html>
{% endblock body %}

